<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in</title>
    <link rel="stylesheet" href="/css/signin.css" />
  </head>
  <body>
    <div id="signup">
      <h1>Sign in Express-notice</h1>
      <form action="/auth/login" method="post">
        <p>User ID</p>
        <input type="text" name="email"/>
        <p>Password</p>
        <input type="password" name="password"/>
        <button>Login</button>
      </form>
      <div>
        <a href="signup">create Account!</a>
      </div>
    </div>
  </body>
</html>